            <!-- Hero -->
            <section class="hero-wrap text-center relative">
                <div class="container container-full-height">
                    <div class="hero-holder">
                        <div class="hero-message">
                            <h1 class="uppercase">Momo</h1>
                            <h2 class="hero-subtitle">Old but Cute</h2>
                            <div class="buttons-holder">
                                <a href="#" class="btn btn-lg btn-color"><span>粉絲專頁</span></a>
                                <a href="#" class="btn btn-lg btn-transparent"><span>了解更多</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parallax" data-stellar-background-ratio="0.5"></div>
            </section> <!-- end hero -->
            <!-- Intro -->
            <section class="section-wrap intro">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-5">
                            <h2 class="intro-heading heading uppercase bottom-line style-2 left-align">
                                hello!<br>牠是Momo
                            </h2>
                            <p class="subheading">品種：馬爾濟斯<br>年紀：10歲+</p>
                        </div>

                        <div class="col-sm-7">
                            <p class="intro-text">
                                馬爾濟斯的出現，重寫了人生的意義。但願各位能從這段話中獲得心靈上的滋長，這段話讓我的心境提高了一個層次。
                            </p>
                            <p class="intro-text">
                                話雖如此，我們卻也不能夠這麼篤定。若到今天結束時我們都還無法釐清Momo的意義，那想必我們昨天也無法釐清。Momo的出現，重寫了人生的意義。
                            </p>
                            <p class="intro-text mb-0">
                                在這種困難的抉擇下，思來想去，寢食難安。本人也是經過了深思熟慮，在每個日日夜夜思考這個問題。問題的關鍵看似不明確，但想必在諸位心中已有了明確的答案。加里寧告訴我們，決不要把他們教育成悶悶不樂，過早就想變為成年的人。希望大家實際感受一下這段話。寵物對我來說，已經成為了我生活的一部分。伏爾泰曾提出，常識並不是大家都知道的，常見的東西。這句話讓我們得到了一個全新的觀點去思考這個問題。
                            </p>
                        </div>

                    </div>
                </div>
            </section> <!-- end intro -->
            <!-- Services -->
            <section class="section-wrap icon-boxes bg-light pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <img src="@Url.Content("~/")Images/Index/Introduction.jpg" class="img-fw mb-40" alt="">
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="heading-row mb-40">
                                <h2 class="heading small bottom-line style-2 left-align">特色介紹</h2>
                                <p class="subheading">超過10歲的小狗<br>鬼仙鬼怪ヾ(•ω•`)o</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1 mb-40">
                            <div class="service-item-box">
                                <i class="pe-7s-vector"></i>
                                <h3>食</h3>
                                <p class="mb-0">飼料放盤子內不敢去吃，要有人去幫牠拿出來，而且還要遠離盤子才敢吃</p>
                            </div>
                        </div> <!-- end service item -->

                        <div class="col-md-3 mb-40">
                            <div class="service-item-box">
                                <i class="pe-7s-box2"></i>
                                <h3>衣</h3>
                                <p class="mb-0">喜歡鑽進袋子、背包內，心理期待著要出去玩囉</p>
                            </div>
                        </div> <!-- end service item -->

                        <div class="col-md-3 col-md-offset-1 mb-40">
                            <div class="service-item-box">
                                <i class="pe-7s-config"></i>
                                <h3>育</h3>
                                <p class="mb-0">笨狗</p>
                            </div>
                        </div> <!-- end service item -->

                        <div class="col-md-3">
                            <div class="service-item-box">
                                <i class="pe-7s-camera"></i>
                                <h3>樂</h3>
                                <p class="mb-0">見到陌生人會興奮到跳舞</p>
                            </div>
                        </div> <!-- end service item -->

                    </div>
                </div>
            </section> <!-- end services -->
            <!-- Results -->
            <section class="section-wrap result-boxes parallax-counters relative pt-mdm-40">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="statistic text-center mt-mdm-40">
                                <i class="pe-7s-coffee"></i>
                                <span class="timer" data-from="0" data-to="968">&nbsp;</span>
                                <h5 class="counter-text">Cups of Coffee</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="statistic text-center mt-mdm-40">
                                <i class="pe-7s-users"></i>
                                <span class="timer" data-from="0" data-to="357">&nbsp;</span>
                                <h5 class="counter-text">Happy Clients</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="statistic text-center mt-mdm-40">
                                <i class="pe-7s-target"></i>
                                <span class="timer" data-from="0" data-to="813">&nbsp;</span>
                                <h5 class="counter-text">Marketing Goals</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="statistic text-center mt-mdm-40">
                                <i class="pe-7s-light"></i>
                                <span class="timer" data-from="0" data-to="972">&nbsp;</span>
                                <h5 class="counter-text">Awesome Ideas</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="parallax" data-stellar-background-ratio="0.5"></div>
            </section> <!-- end results -->
            <!-- Featured Works -->
            <section class="section-wrap">
                <div class="container">
                    <div class="heading-row text-center">
                        <h2 class="heading bottom-line">關於寵物</h2>
                        <p class="subheading">包含一些推薦頻道及作者</p>
                    </div>
                    <div class="row">
                        <div id="owl-featured-works" class="works-grid with-title gutter owl-carousel owl-theme">
                            <div class="work-item">
                                <div class="work-container">
                                    <div class="work-img">
                                        <a href="https://vimeo.com/4200928" class="lightbox-video mfp-iframe hover-scale">
                                            <img src="@Url.Content("~/")Images/Index/owl_img_1.jpg" alt="狗與貓">
                                            <div class="work-overlay">
                                                <div class="lightbox-icon"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="work-description text-center">
                                        <h3><a href="portfolio-single.html">狗與貓</a></h3>
                                        <span>影片</span>
                                    </div>
                                </div>
                            </div> <!-- end work-item -->
                            <div class="work-item">
                                <div class="work-container">
                                    <div class="work-img">
                                        <a href="@Url.Content("~/")Images/Index/owl_img_2.jpg" class="lightbox-gallery hover-scale" title="狗狗">
                                            <img src="@Url.Content("~/")Images/Index/owl_img_2.jpg" alt="狗狗">
                                            <div class="work-overlay">
                                                <div class="lightbox-icon"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="work-description text-center">
                                        <h3><a href="portfolio-single.html">狗狗</a></h3>
                                        <span>照片</span>
                                    </div>
                                </div>
                            </div> <!-- end work-item -->
                            <div class="work-item">
                                <div class="work-container">
                                    <div class="work-img">
                                        <a href="@Url.Content("~/")Images/Index/owl_img_3.jpg" class="lightbox-gallery hover-scale" title="春茶小狗">
                                            <img src="@Url.Content("~/")Images/Index/owl_img_3.jpg" alt="春茶小狗">
                                            <div class="work-overlay">
                                                <div class="lightbox-icon"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="work-description text-center">
                                        <h3><a href="portfolio-single.html">春茶小狗</a></h3>
                                        <span>照片</span>
                                    </div>
                                </div>
                            </div> <!-- end work-item -->
                            <div class="work-item">
                                <div class="work-container">
                                    <div class="work-img">
                                        <a href="@Url.Content("~/")Images/Index/owl_img_4.jpg" class="lightbox-gallery hover-scale" title="憨憨貓">
                                            <img src="@Url.Content("~/")Images/Index/owl_img_4.jpg" alt="憨憨貓">
                                            <div class="work-overlay">
                                                <div class="lightbox-icon"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="work-description text-center">
                                        <h3><a href="portfolio-single.html">憨憨貓</a></h3>
                                        <span>照片</span>
                                    </div>
                                </div>
                            </div> <!-- end work-item -->
                            <div class="work-item">
                                <div class="work-container">
                                    <div class="work-img">
                                        <a href="@Url.Content("~/")Images/Index/owl_img_5.jpg" class="lightbox-gallery hover-scale" title="博美犬">
                                            <img src="@Url.Content("~/")Images/Index/owl_img_5.jpg" alt="博美犬">
                                            <div class="work-overlay">
                                                <div class="lightbox-icon"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="work-description text-center">
                                        <h3><a href="portfolio-single.html">博美犬</a></h3>
                                        <span>照片</span>
                                    </div>
                                </div>
                            </div> <!-- end work-item -->
                            <div class="work-item">
                                <div class="work-container">
                                    <div class="work-img">
                                        <a href="@Url.Content("~/")Images/Index/owl_img_6.jpg" class="lightbox-gallery hover-scale" title="狐狸犬">
                                            <img src="@Url.Content("~/")Images/Index/owl_img_6.jpg" alt="狐狸犬">
                                            <div class="work-overlay">
                                                <div class="lightbox-icon"></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="work-description text-center">
                                        <h3><a href="portfolio-single.html">狐狸犬</a></h3>
                                        <span>照片</span>
                                    </div>
                                </div>
                            </div> <!-- end work-item -->
                        </div>  <!-- end slider -->
                    </div>
                    <div class="row text-center mt-50">
                        <a href="portfolio-4-col.html" class="btn btn-lg btn-stroke"><span>觀看更多</span></a>
                    </div>
                </div>
            </section> <!-- end featured works -->
            <!-- Testimonials -->
            <section class="section-wrap testimonials bg-light">
                <div class="container">
                    <div class="heading-row text-center">
                        <h2 class="heading bottom-line">朋友對於Momo評價</h2>
                        <p class="subheading">歡迎留言告訴我們您的想法</p>
                    </div>
                </div>
                <div class="relative">
                    <div id="owl-testimonials" class="owl-carousel owl-theme owl-dark-dots text-center">
                        <div class="item">
                            <div class="container testimonial">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="testimonial-text">這是不可避免的。每個人的一生中，幾乎可說碰到momo可愛這件事，是必然會發生的。了解清楚momo可愛到底是一種怎麼樣的存在，是解決一切問題的關鍵。</p>
                                        <img src="@Url.Content("~/")Images/Index/testimonial_1.jpg" class="testimonial-img" alt="">
                                        <h6 class="testimonial-author">王小名</h6>
                                        <span>路人甲</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container testimonial">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="testimonial-text">蔡鍔說過一句著名的話，沒有膽量就談不上傑出的統帥。我希望諸位也能好好地體會這句話。我以為我了解Momo笨狗，但我真的了解Momo笨狗嗎？仔細想想，我對Momo笨狗的理解只是皮毛而已。</p>
                                        <img src="@Url.Content("~/")Images/Index/testimonial_2.jpg" class="testimonial-img" alt="">
                                        <h6 class="testimonial-author">林春茶</h6>
                                        <span>日本歌手</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container testimonial">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="testimonial-text">說到Momo，你會想到什麼呢？若無法徹底理解Momo，恐怕會是人類的一大遺憾。</p>
                                        <img src="@Url.Content("~/")Images/Index/testimonial_3.jpg" class="testimonial-img" alt="">
                                        <h6 class="testimonial-author">李姿儀</h6>
                                        <span>朋友</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- end testimonials -->
            <!-- Icon Boxes -->
            <section class="section-wrap icon-boxes pb-30 pb-sml-80 animated">
                <div class="container">
                    <div class="row items-grid">
                        <div class="col-sm-4 mb-50">
                            <div class="service-item-box style-2">
                                <a href="#">
                                    <i class="pe-7s-diamond"></i>
                                </a>
                                <div class="service-text">
                                    <h3>品種</h3>
                                    <p>馬爾濟斯</p>
                                </div>
                            </div>
                        </div> <!-- end service item -->
                        <div class="col-sm-4 mb-50">
                            <div class="service-item-box style-2">
                                <a href="#">
                                    <i class="pe-7s-paint-bucket"></i>
                                </a>
                                <div class="service-text">
                                    <h3>毛色</h3>
                                    <p>白色</p>
                                </div>
                            </div>
                        </div> <!-- end service item -->
                        <div class="col-sm-4 mb-50">
                            <div class="service-item-box style-2">
                                <a href="#">
                                    <i class="pe-7s-tools"></i>
                                </a>
                                <div class="service-text">
                                    <h3>玩具</h3>
                                    <p>笨狗不會玩玩具</p>
                                </div>
                            </div>
                        </div> <!-- end service item -->
                        <div class="col-sm-4 mb-50">
                            <div class="service-item-box style-2">
                                <a href="#">
                                    <i class="pe-7s-timer"></i>
                                </a>
                                <div class="service-text">
                                    <h3>百米速度</h3>
                                    <p>老了，要牠跑百米有點勉強</p>
                                </div>
                            </div>
                        </div> <!-- end service item -->
                        <div class="col-sm-4 mb-50">
                            <div class="service-item-box style-2">
                                <a href="#">
                                    <i class="pe-7s-edit"></i>
                                </a>
                                <div class="service-text">
                                    <h3>飼料</h3>
                                    <p>寵物店袋裝飼料</p>
                                </div>
                            </div>
                        </div> <!-- end service item -->
                        <div class="col-sm-4">
                            <div class="service-item-box style-2">
                                <a href="#">
                                    <i class="pe-7s-help2"></i>
                                </a>
                                <div class="service-text">
                                    <h3>綜合</h3>
                                    <p>可愛的一隻小笨狗</p>
                                </div>
                            </div>
                        </div> <!-- end service item -->
                    </div>
                </div>
            </section> <!-- end icon boxes -->
            <!-- From Blog -->
            <section class="section-wrap from-blog bg-light animated pb-70">
                <div class="container">
                    <div class="heading-row text-center">
                        <h2 class="heading bottom-line">相簿</h2>
                        <p class="subheading">日常點滴</p>
                    </div>
                    <div class="row">
                        <article class="col-md-4 col-sm-6 col-xs-12">
                            <div class="entry-item">
                                <div class="entry-img">
                                    <a href="blog-single.html" class="hover-scale">
                                        <img src="@Url.Content("~/")Images/Index/blog_1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="entry-wrap">
                                    <div class="entry">
                                        <h4 class="entry-title"><a href="blog-single.html">睡覺</a></h4>
                                        <ul class="entry-meta">
                                            <li>六月 18, 2020</li>
                                            <li><a href="#">王小名</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- end post -->
                        <article class="col-md-4 col-sm-6 col-xs-12">
                            <div class="entry-item">
                                <div class="entry-img">
                                    <a href="blog-single.html" class="hover-scale">
                                        <img src="@Url.Content("~/")Images/Index/blog_2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="entry-wrap">
                                    <div class="entry">
                                        <h4 class="entry-title"><a href="blog-single.html">吃餅乾</a></h4>
                                        <ul class="entry-meta">
                                            <li>一月 14, 2020</li>
                                            <li><a href="#">林春茶</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- end post -->
                        <article class="col-md-4 col-sm-6 col-xs-12">
                            <div class="entry-item">
                                <div class="entry-img">
                                    <a href="blog-single.html" class="hover-scale">
                                        <img src="@Url.Content("~/")Images/Index/blog_3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="entry-wrap">
                                    <div class="entry">
                                        <h4 class="entry-title"><a href="blog-single.html">這不是Momo</a></h4>
                                        <ul class="entry-meta">
                                            <li>五月 26, 2019</li>
                                            <li><a href="#">林春茶</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </article> <!-- end post -->
                    </div>
                </div>
            </section> <!-- end from blog -->
            <!-- CTA -->
            <section class="section-wrap call-to-action animated">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-xs-12 sm-text-center">
                            <h3>想要了解牠更多嗎?</h3>
                        </div>
                        <div class="col-sm-3 col-xs-12 cta-button text-right sm-text-center">
                            <a href="#" class="btn btn-lg btn-color">
                                <span>追蹤粉絲專頁</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section> <!-- end cta -->